* {
    margin: 0;
    padding: 0;
}

.navsystem {
    font-size: larger;
    font-weight: 500;
    margin-right: 200px;
    margin-top: 20px;

}

.navsystem li {
    margin-left: 10px;
}

.navsystem li:hover {
    color: #5d1c95;
    text-decoration: solid #581c8c;
    text-decoration: underline #581c8c;
}

.navsystem a:hover {
    color: #5d1c95;
}

.navimg {
    margin-left: 100px;
}

.enquire-button {
    width: 200px;
    position:absolute;
    background-color: #5d1c95;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s ease;
    margin-left: 500px;
    bottom: 210px;
    right: 1100px;




}

.enquire-button:hover {
    background-color: #ffffff;
    color: #581c8c;
}

.sec {
    margin-top: 100px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1200px;
    font-size: 60px;
    color: #581c8c;
}

.fec {
    text-align: center;
    margin-top: 50px;
    font-weight: lighter;
}

.wrap {
    margin-left: 500px;
}

.search-container {
    text-align: center;
    margin-top: 50px;

}

.search-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 900px;
}

.search-button {

    padding: 10px 20px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.search-button img {
    width: 20px;
}

.main {

    margin-top: 100px;
    position: absolute;

}

.aub {
    background-color: rgba(245, 241, 241, 0.959);
    margin-left: 20px;
    padding: 10px;
    border-radius: 20px;
}

.aub:hover {
    box-shadow: 2px 2px 25px black;
    background-color: #ffffff;
}

.bub {
    background-color: rgba(245, 241, 241, 0.959);
    margin-left: 20px;
    padding: 10px;
    border-radius: 20px;
}

.bub:hover {
    box-shadow: 2px 2px 25px black;
    background-color: #ffffff;
}

.cub {
    background-color: rgba(245, 241, 241, 0.959);
    margin-left: 20px;
    padding: 10px;
    border-radius: 20px;
}

.cub:hover {
    box-shadow: 2px 2px 25px black;
    background-color: #ffffff;
}

.line1 {
    display: flex;
    align-content: space-evenly;
    margin: 50px;
    margin-left: 100px;
}

.line2 {
    display: flex;
    align-content: space-evenly;
    margin: 50px;
    margin-left: 100px;
}

.line3 {
    display: flex;
    align-content: space-evenly;
    margin: 50px;
    margin-left: 100px;
}

.tre {
    margin-top: 30px;
    margin-bottom: 20px;
}

.main h5 {
    color: #5d1c95;
}

.main h3 {
    color: #5d1c95;
}

.transparent-button {
    background-color: transparent;
    border: 2px solid #5d1c95;
    /* Border color */
    color: #5d1c95;
    /* Text color */
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 100px;
    margin-top: 50px;
    border-radius: 20px;
}

/* Change button background on hover */
.transparent-button:hover {
    background-color: #581c8c;
    /* Background color on hover */
    color: #fff;
    /* Text color on hover */
}

.roi {
    margin-right: 80px;
    margin-top: 30px;
    margin-bottom: 80px;
}

.transparent-button1 {
    background-color: transparent;
    border: 2px solid #5d1c95;
    /* Border color */
    color: #5d1c95;
    /* Text color */
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 100px;
    margin-bottom: 50px;
    border-radius: 20px;
}

/* Change button background on hover */
.transparent-button1:hover {
    background-color: #581c8c;
    /* Background color on hover */
    color: #fff;
    /* Text color on hover */
}

.transparent-button2 {
    background-color: transparent;
    border: 2px solid #5d1c95;
    /* Border color */
    color: #5d1c95;
    /* Text color */
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 100px;
    margin-bottom: 50px;
    border-radius: 20px;
}

/* Change button background on hover */
.transparent-button2:hover {
    background-color: #581c8c;
    /* Background color on hover */
    color: #fff;
    /* Text color on hover */
}

.transparent-button3 {
    background-color: transparent;
    border: 2px solid #5d1c95;
    /* Border color */
    color: #5d1c95;
    /* Text color */
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 100px;
    margin-bottom: 50px;
    border-radius: 20px;
}

/* Change button background on hover */
.transparent-button3:hover {
    background-color: #581c8c;
    /* Background color on hover */
    color: #fff;
    /* Text color on hover */
}

.transparent-button4 {
    background-color: transparent;
    border: 2px solid #5d1c95;
    /* Border color */
    color: #5d1c95;
    /* Text color */
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 100px;
    margin-bottom: 50px;
    border-radius: 20px;
}

/* Change button background on hover */
.transparent-button4:hover {
    background-color: #581c8c;
    /* Background color on hover */
    color: #fff;
    /* Text color on hover */
}

.transparent-button5 {
    background-color: transparent;
    border: 2px solid #5d1c95;
    /* Border color */
    color: #5d1c95;
    /* Text color */
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 100px;
    margin-bottom: 50px;
    border-radius: 20px;
}

/* Change button background on hover */
.transparent-button5:hover {
    background-color: #581c8c;
    /* Background color on hover */
    color: #fff;
    /* Text color on hover */
}

.transparent-button6 {
    background-color: transparent;
    border: 2px solid #5d1c95;
    /* Border color */
    color: #5d1c95;
    /* Text color */
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 100px;
    margin-bottom: 50px;
    border-radius: 20px;
}

/* Change button background on hover */
.transparent-button6:hover {
    background-color: #581c8c;
    /* Background color on hover */
    color: #fff;
    /* Text color on hover */
}

.aub img {
    margin-left: 90px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.bub img {
    margin-left: 90px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.cub img {
    margin-left: 65px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.android {
    margin-left: 65px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.mern {
    margin-left: 65px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.angular {
    margin-left: 65px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.lastpic {
    position: absolute;
    top: 4500px;
}

.second {
    position: absolute;
    top: 5072px;

}

.join-button {
    width: 200px;
    position: absolute;
    background-color: #ffffff;
    border: none;
    color: #581c8c;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s ease;
    margin-left: 500px;
    bottom: 107px;
    right: 650px;
}

.join-button:hover {
    background-color: #581c8c;
    color: #ffffff;
}

.footer {
    display: flex;
}

.footer img {
    position: absolute;
    top: 5600px;
    left: 200px;
}

.course {
    position: absolute;
    top: 5610px;
    left: 500px;
}
.course:hover{
    text-decoration: underline;
}

.footer h2 {
    color: #5d1c95;
    font-size: larger;

}

.usefull {
    position: absolute;
    top: 5610px;
    left: 800px;
}
.usefull:hover{
    text-decoration: underline;
}
.contact {
    position: absolute;
    top: 5610px;
    left: 1100px;
}
.contact:hover{
    text-decoration: underline;
}

.footer h3 {
    color: #5d1c95;
    font-size: larger;

}

.footer h4 {
    color: #5d1c95;
    font-size: larger;

}

.copy {
    position: absolute;
    top: 6200px;
    left: 500px;
    padding-bottom: 100px;
}

.copy b {
    color: #5d1c95;
}

    /*media queries ******************************************************************************* */
@media screen and (max-width: 1024px) {
    .container.contact_container{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

@media screen and (max-width: 769px) {
    .container.contact_container{
        grid-template-columns: 1fr;
        width: var(--container-width-sm);
    }
    .navsystem {
        font-size: smaller;
        font-weight: 500;
        margin-right:10px;
        margin-top: auto;
    
    }
    #navs{
        display: contents;
        font-size: 10px;
    
    }
    .navimg{
        width: 300px;
    }
    .navsystem li {
        margin-left:10px;

    }
    .nav-item{
        margin:10px ;
    }
    
    .navsystem li:hover {
        color: #5d1c95;
        text-decoration: solid #581c8c;
        text-decoration: underline #581c8c;
    }
    
    .navsystem a:hover {
        color: #5d1c95;
    }
    
    .navimg {
        margin-left: auto;
    }
    
    .enquire-button {
        width: 100px;
        position: ;
        background-color: #5d1c95;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        font-weight: 600;
        margin: 10px 2px;
        cursor: pointer;
        border-radius: 30px;
        transition: background-color 0.3s ease;
        margin-left: 500px;
        bottom: 210px;
        right: 1100px;
        
    
    
    
    
    }
    
    .enquire-button:hover {
        background-color: #ffffff;
        color: #581c8c;
    }
    
    .sec {
        margin-top: 50px;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 1200px;
        font-size: 30px;
        color: #581c8c;
    }
    
    .fec {
        text-align: center;
        margin-top: 25px;
        font-weight: lighter;
        font-size: 10px;
    }
    
    .wrap {
        margin-left: 250px;
    }
    
    .search-container {
        text-align: center;
        margin-top: 20px;
        
    
    }
    
    .search-input {
        padding: 5px;
        font-size: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 300px;
    }
    
    .search-button {
    
        padding: 5px 20px;
        color: #333;
        border: 1px solid #ccc;
        border-radius: 5px;
        cursor: pointer;
        width: 25px;
    }
    
    .search-button img {
        width: 20px;
    }
    
    .main {
    
        margin-top: 50px;
        position: absolute;
        width: fit-content;
    
    }
    
    .aub {
        background-color: rgba(245, 241, 241, 0.959);
        margin-left: 20px;
        padding: 10px;
        border-radius: 20px;
    }
    
    .aub:hover {
        box-shadow: 2px 2px 25px black;
        background-color: #ffffff;
    }
    
    .bub {
        background-color: rgba(245, 241, 241, 0.959);
        margin-left: 20px;
        padding: 10px;
        border-radius: 20px;
    }
    
    .bub:hover {
        box-shadow: 2px 2px 25px black;
        background-color: #ffffff;
    }
    
    .cub {
        background-color: rgba(245, 241, 241, 0.959);
        margin-left: 20px;
        padding: 10px;
        border-radius: 20px;
    }
    
    .cub:hover {
        box-shadow: 2px 2px 25px black;
        background-color: #ffffff;
    }
    
    .line1 {
        display: flex;
        align-content: space-evenly;
        margin: 50px;
        margin-left: 100px;
    }
    
    .line2 {
        display: flex;
        align-content: space-evenly;
        margin: 50px;
        margin-left: 100px;
    }
    
    .line3 {
        display: flex;
        align-content: space-evenly;
        margin: 50px;
        margin-left: 100px;
    }
    
    .tre {
        margin-top: 30px;
        margin-bottom: 20px;
    }
    
    .main h5 {
        color: #5d1c95;
    }
    
    .main h3 {
        color: #5d1c95;
    }
    
    .transparent-button {
        background-color: transparent;
        border: 2px solid #5d1c95;
        /* Border color */
        color: #5d1c95;
        /* Text color */
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-left: 100px;
        margin-top: 50px;
        border-radius: 20px;
    }
    
    /* Change button background on hover */
    .transparent-button:hover {
        background-color: #581c8c;
        /* Background color on hover */
        color: #fff;
        /* Text color on hover */
    }
    
    .roi {
        margin-right: 80px;
        margin-top: 30px;
        margin-bottom: 80px;
    }
    
    .transparent-button1 {
        background-color: transparent;
        border: 2px solid #5d1c95;
        /* Border color */
        color: #5d1c95;
        /* Text color */
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-left: 100px;
        margin-bottom: 50px;
        border-radius: 20px;
    }
    
    /* Change button background on hover */
    .transparent-button1:hover {
        background-color: #581c8c;
        /* Background color on hover */
        color: #fff;
        /* Text color on hover */
    }
    
    .transparent-button2 {
        background-color: transparent;
        border: 2px solid #5d1c95;
        /* Border color */
        color: #5d1c95;
        /* Text color */
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-left: 100px;
        margin-bottom: 50px;
        border-radius: 20px;
    }
    
    /* Change button background on hover */
    .transparent-button2:hover {
        background-color: #581c8c;
        /* Background color on hover */
        color: #fff;
        /* Text color on hover */
    }
    
    .transparent-button3 {
        background-color: transparent;
        border: 2px solid #5d1c95;
        /* Border color */
        color: #5d1c95;
        /* Text color */
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-left: 100px;
        margin-bottom: 50px;
        border-radius: 20px;
    }
    
    /* Change button background on hover */
    .transparent-button3:hover {
        background-color: #581c8c;
        /* Background color on hover */
        color: #fff;
        /* Text color on hover */
    }
    
    .transparent-button4 {
        background-color: transparent;
        border: 2px solid #5d1c95;
        /* Border color */
        color: #5d1c95;
        /* Text color */
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-left: 100px;
        margin-bottom: 50px;
        border-radius: 20px;
    }
    
    /* Change button background on hover */
    .transparent-button4:hover {
        background-color: #581c8c;
        /* Background color on hover */
        color: #fff;
        /* Text color on hover */
    }
    
    .transparent-button5 {
        background-color: transparent;
        border: 2px solid #5d1c95;
        /* Border color */
        color: #5d1c95;
        /* Text color */
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-left: 100px;
        margin-bottom: 50px;
        border-radius: 20px;
    }
    
    /* Change button background on hover */
    .transparent-button5:hover {
        background-color: #581c8c;
        /* Background color on hover */
        color: #fff;
        /* Text color on hover */
    }
    
    .transparent-button6 {
        background-color: transparent;
        border: 2px solid #5d1c95;
        /* Border color */
        color: #5d1c95;
        /* Text color */
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-left: 100px;
        margin-bottom: 50px;
        border-radius: 20px;
    }
    
    /* Change button background on hover */
    .transparent-button6:hover {
        background-color: #581c8c;
        /* Background color on hover */
        color: #fff;
        /* Text color on hover */
    }
    
    .aub img {
        margin-left: 90px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .bub img {
        margin-left: 90px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .cub img {
        margin-left: 65px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .android {
        margin-left: 65px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .mern {
        margin-left: 65px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .angular {
        margin-left: 65px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .lastpic {
        position: absolute;
        top: 4500px;
    }
    
    .second {
        position: absolute;
        top: 5072px;
    
    }
    
    .join-button {
        width: 200px;
        position: absolute;
        background-color: #ffffff;
        border: none;
        color: #581c8c;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        font-weight: 600;
        margin: 10px 2px;
        cursor: pointer;
        border-radius: 30px;
        transition: background-color 0.3s ease;
        margin-left: 500px;
        bottom: 107px;
        right: 650px;
    }
    
    .join-button:hover {
        background-color: #581c8c;
        color: #ffffff;
    }
    
    .footer {
        display: flex;
    }
    
    .footer img {
        position: absolute;
        top: 5600px;
        left: 200px;
    }
    
    .course {
        position: absolute;
        top: 5610px;
        left: 500px;
    }
    .course:hover{
        text-decoration: underline;
    }
    
    .footer h2 {
        color: #5d1c95;
        font-size: larger;
    
    }
    
    .usefull {
        position: absolute;
        top: 5610px;
        left: 800px;
    }
    .usefull:hover{
        text-decoration: underline;
    }
    .contact {
        position: absolute;
        top: 5610px;
        left: 1100px;
    }
    .contact:hover{
        text-decoration: underline;
    }
    
    .footer h3 {
        color: #5d1c95;
        font-size: larger;
    
    }
    
    .footer h4 {
        color: #5d1c95;
        font-size: larger;
    
    }
    
    .copy {
        position: absolute;
        top: 6200px;
        left: 500px;
        padding-bottom: 100px;
    }
    
    .copy b {
        color: #5d1c95;
    }
}